html {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background-color: #efefef;
}

header {
    background-color: #364552;
    padding: 1rem 1rem;
}
header h1 {
    font-size: 3rem;
    text-align: center;
    color : white;
    margin: 1rem;
}

/*----------------------------------------*/

.registro {
    width: 1130px;
    margin: 3rem auto;
}

.post {
    background-color: #fff;
    height: 600px;
	border-radius: 10px;
}

.img{
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.left{
    float: left;
    width: 40%;
}

.seccion {
    float: right;
    width: 60%;
    height: 100%;
}

.seccion h2 {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.sect{
    width: 100%;
    height: 53%;
}

.sectionLeft{
    float: left;
    width: 50%;
}

.sectionRight{
    float: right;
    width: 50%;
}

.form1 {
	width: 300px;
	float: left;
}

.form2 {
	width: 300px;
	float: right;
}

.inputContainer {
	position: relative;
	height: 45px;
	width: 75%;
	margin-bottom: 17px;
}
  
.input {

	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	border: 1px solid #DADCE0;
	border-radius: 7px;
	font-size: 16px;
	padding: 0 20px;
	outline: none;
	background: none;
	z-index: 1;
}
  
  
.label {
	position: absolute;
	top: 15px;
	left: 15px;
	padding: 0 4px;
	background-color: white;
	color: #DADCE0;
	font-size: 16px;
	transition: 0.5s;
	z-index: 0;
}
  
::placeholder {
	color: transparent;
}
  
.submitBtn {
	display: block;
	padding: 14px 30px;
	border: none;
	background-color: #364552;
	color: white;
	border-radius: 6px;
	cursor: pointer;
	font-size: 16px;
	float: right;
    margin-right: 5rem;
	margin-left: 2rem;
}

.input:focus + .label {
	top: -7px;
	left: 3px;
	z-index: 10;
	font-size: 14px;
	font-weight: 600;
	color: #364552;
}
  
.input:not(:placeholder-shown)+ .label {
	top: -7px;
	left: 3px;
	z-index: 10;
	font-size: 14px;
	font-weight: 600;
}
  
.input:focus {
	border: 2px solid #364552;
}

.nota{
	color: slategrey;
	margin: 0.5rem;
}

.link {
	transition: color 0.2s ease;
	color: black;
    text-decoration: none;
}

:hover.link {
    color: cornflowerblue;
}
















